<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CRM<span class="text-primary fw-bold">PRO</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>





      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}">Products</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Customer</a>
          </li> -->
        </ul>

          <p class="nav navbar-text " style = "margin-right: 10px ;">Hello, {{request.user}}</p>
          <a class="btn btn-outline-danger" href="{% url 'logout' %}">Logout</a>
        
        <!-- <ul class="navbar-nav">
          <li class="nav-item nav-link">
            Hello, {{request.user}}
          </li>
       <li class="nav-item">
        <a class="nav-link " href="{% url 'logout' %}">Logout</a>
       </li> 
        </ul> -->
         
         
          </div>
         
      
     
    <!-- <div class="navbar-nav">
        <span style="width:auto; margin-right:10px;" ></span>
        <span style="margin-right: 20px;"></span>
    </div> -->

     
   
  </nav>